.ab__test-hide  {
    display: block;
}
[data-test-name="new-product-detail"].ab__test--active-test {
    display: block;
}
.ab__test-hide.ab__test--active-test {
    display: none !important;
}
.ab__test:not(.ab__test--active-test) {
    display: none !important;
}